* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

nav {
    width: 100%;
    height: 10vh;
}

nav .nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container .logo img {
    width: 100%;
    max-width: 100px;
}

.nav-container .links a {
    color: black;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2rem;
    transition: 0.3s linear;
    cursor: pointer;
}

.nav-container .links a:hover {
    color: rgb(168, 8, 243);
}

.nav-container .links i {
    color: orangered;
    font-size: 1.7rem;
    margin: 0 20px;
}


section {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-container {
    width: 35%;
}

.main-container .heading {
    display: flex;
    align-items: top;
}

.heading h1 {
    font-size: clamp(1rem, 1rem + 5vw, 7rem);
}

.heading span {
    font-size: clamp(1rem, 1rem + 5vw, 3rem);
    margin-top: 10px;
    margin-left: 10px;
    
}

.main-container .stars {
    color: gold;
    font-size: 1.3rem;
    margin: -5px 0 20px 0;
}

.main-container p {
    width: 90%;
    margin: 10px 0;
}

.main-container .sizes {
    width: 70%;
    height: 3vh;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container .sizes div {
    border: 3px solid #5e6c9c;
    border-radius: 15px;
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.3s linear;
}

.main-container .sizes div:hover {
    background-color: #5e6c9c;
    border: 1px solid white;
}

.main-container button {
    width: 50%;
    height: 6vh;
    margin: 20px 0;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 20px;
    border: 3px solid orangered;
    background-color: transparent;
    color: orangered;
    transition: 0.3s linear;
    cursor: pointer;
}

.main-container button:hover {
    background-color: orangered;
    color: white;
    box-shadow: 0 0 10px 1px orangered;
}

.main-container .shoes {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shoes .extra img {
    width: 100px;
    filter: drop-shadow(2px 2px 10px white);
    transition: 0.3s linear;
    cursor: pointer;
}

.shoes .extra img:hover {
    scale: 1.5;
}

.image img {
    width: 600px;
    filter: drop-shadow(2px 2px 10px white);
}

